*{
    padding: 0;
    margin: 0 auto ;
}

body{
    overflow: hidden;
}
.main-container{
    display: flex;
    align-items: center;
    font-size: 228px;
    color: white;
    font-weight: bolder;
    height: 45rem;
}

@media screen and (max-width:968px)  { 

    body{
        overflow: hidden;
    }
    .main-container{
        display: flex;
        flex-direction: column;
        font-size: 200px;
    }

}